/***********************************************************
 * GLOBALS
 ***********************************************************/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    font-family: @body_font_stack;
    font-size: @body_font_size;
    font-weight: @body_font_weight;
    line-height: @body_font_line_height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @header_font_stack;
    font-weight: @header_font_weight;
}

p {
    text-align: justify;
}

.setHeaderFontSize(@body_font_size * @scale * @scale * @scale * @scale);
@media screen and (max-width: 850px) {
    body {
        // font-size: @body_font_size * @scale / @scale;
        // line-height: @body_font_line_height * @scale;
    }
    .setHeaderFontSize(@body_font_size * @scale * @scale * @scale);
} // media 850px
a {
    text-decoration: none;
    // text-transform: uppercase;
    color: @primary_color;
    &:hover {
        text-decoration: underline;
        // color: contrast(@primary_color);
        color: lighten(@primary_color, 50%);
        // background-color: @primary_color;
    }
}

hr {
    border-style: none;
    border-top-style: solid;
    color: lighten(@primary_color, 90%);
}

.browserupdate {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: block;
    margin-bottom: 3em;
    padding: 2em;
    color: #fff;
    text-align: center;
    background-color: red;
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: #ddd;
        }
    }
}

.container {
    // position: absolute;
    // top: 0;
    .clearfix();
}

.mfp-wrap.mfp-gallery {
    background-color: #fff;
}

.mfp-bottom-bar {
    .mfp-title {
        color: #000;
        font-size: 1rem;
    }
    .mfp-counter {
        color: #fff;
        display: none;
    }
}
.mfp-arrow-right:after {
    margin-left: 35px;
    border-left: 23px solid #FFF;
}

.mfp-arrow:after {
    border-top-width: 17px;
    border-bottom-width: 17px;
    top: 4px;
}

.mfp-arrow-left:after {
    margin-left: 29px;
    border-right: 23px solid #FFF;
}


.sf-menu ul {
    box-shadow: none;
}
