.container {
    .clearfix();
    .menu-animation(margin;
    200ms;
    ease-in-out;
    0s);
    margin-left: 0;
    width: 100%;
    &.move {
        margin-left: 100%;
    }
} // container
#nav-menu-mobile {
    li {
        margin-top: 0.5rem;
        list-style-type: none;
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                color: #666;
            }
        }
    }
} // nav#mobile-menu
.header {
    .clearfix();
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: @header_height;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: @header_padding;
    background-color: @header_color;
    // background-color: rgba(255, 255, 255, 0);
    .burger-icon {
        position: absolute;
        top: 0.5rem;
        left: 2rem;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            color: lighten(#000, 50%);
        }
        display: none;
    }
    &.smaller {
        height: @header_height_small;
        padding: 1rem;
        .logo {
            margin-top: -1px;
        }
        nav#original-menu {
            margin-top: -18px;
        }
    }
    .logo {
        a {
            font-size: 19px;
            text-decoration: none;
            text-transform: none;
            &:hover {
                color: lighten(#000, 50%);
                background-color: rgba(255, 255, 255, 0);
            }
        }
        float: left;
        width: 25%;
        margin-top: 10px;
        img {
            display: none
        }
        // h2 {
        //     padding: 0;
        //     margin: 0;
        //     margin-top: 28px;
        //     line-height: 0;
        // }
    }
    nav#original-menu {
        font-family: @header_font_stack;
        // font-size: @body_font_size / @scale;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        float: right;
        .sf-menu {
            margin-bottom: 0;
            a {
                border: 0;
                text-transform: none;
                color: contrast(@header_color);
                background-color: @header_color;
                &:hover {
                    // background-color: #ddd;
                    text-decoration: none;
                    border-bottom: 1px solid #ddd;
                    // width: 50%;
                }
            }
            li {
                background-color: @header_color;
                &.active {
                    // background-color: red;
                    // color: contrast(@primary_color);
                    border-bottom: 1px solid #ddd;
                    a {
                        // border-bottom: 3px solid #000;
                        // color: contrast(@primary_color);
                    }
                }
                &:hover {
                    // background-color: @header_color;
                    // color: contrast(@primary_color);
                    a {
                        text-decoration: none;
                        // border-bottom: 0px solid #ddd;
                    }
                }
                &.sfHover {
                    li {
                        // background-color: lighten(@primary_color, 35%);
                        // color: contrast(@primary_color);
                        &:hover {
                            // background-color: red;
                            // color: contrast(@primary_color);
                            a {
                                // background-color: @header_color;
                                // border-bottom: 3px solid #000;
                                // color: contrast(@primary_color);
                            }
                        }
                    }
                }
            } // li
        } //sf-menu
    } // nav 
    @media screen and (max-width: 980px) {
        height: @header_height_small;
        padding: 1rem;
        overflow: hidden;
        .burger-icon {
            display: block;
        }
        .logo {
            width: 70%;
            margin-left: 30px;
            margin-top: -3px;
            white-space: nowrap;
            a {
                margin-left: 2rem;
            }
        }
        &.smaller {
            .logo {
                margin-top: 0px;
                a {
                    margin-left: 2rem;
                }
            }
        }
        nav#original-menu {
            display: none;
        }
    } // media 850px
} // header
.page-home {
    .initializePage(@header_height;
    0);
    overflow-y: hidden;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin: 0;
    text-align: center;
    .hero {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
    .news {
        text-align: left;
        max-width: 40%;
        position: absolute;
        top: 7rem * @scale;
        left: 1.5rem * @scale;
        background-color: #000;
        color: #fff;
        padding: 1rem * @scale;
        opacity: 0.6;
        a {
            color: #fff;
            // text-decoration: none;
            &:hover {
                color: darken(#fff, 40%);
                text-decoration: underline;
            }
        }
        h4 {
            // opacity: 1.0 !important;
            margin-top: 0;
        }
    }
    @media screen and (max-width: 980px) {
        .initializePage(@header_height_small;
        0);
        padding: 0;
        margin-top: 0;
        .hero {
            width: 100%;
        }
        .news {
            max-width: 100%;
            width: 100%;
            position: static;
            top: 0;
            padding: 1rem * @scale * @scale;
            background-color: lighten(@primary_color, 50%);
            color: contrast(@primary_color);
            padding: 1rem * @scale;
            opacity: 1;
            h4 {
                font-size: @body_font_size;
            }
        }
    } // media 850px
    #bg {
        position: fixed;
        // top: 117px;
        left: 0;
    }
    .bgwidth {
        width: 100%;
    }
    .bgheight {
        height: 100%;
    }
} // page-home
.page-artwork {
    section {
        margin-top: 2rem;
    }
    .initializePage(@header_height;
    8rem);
    a.selected {
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
    }
    .intro {
        padding-left: 0.3em;
        a {
            margin-right: 10px;
            &:hover {
                text-decoration: none;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #ddd;
            }
        }
    }
    .da-thumbs {
        width: 100%;
        margin: 0 auto;
        li {
            &:nth-child(4n+1) {
                clear: left
            }
            height: auto;
            width: 25%;
            box-shadow: none;
            margin: 0;
            padding: 0.8em;
            img {
                width: 100%;
            }
            .texto {
                background-color: #fff;
                color: #000;
                display: none;
                float: left;
                padding: 0;
                p {
                    text-transform: none;
                }
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .initializePage(@header_height_small;
        0rem);
        .da-thumbs {
            li {
                width: 33%;
                padding: 0.2em;
            }
        }
    } // media 1200px
    @media screen and (max-width: 980px) {
        .initializePage(@header_height_small;
        0rem);
        .da-thumbs {
            li {
                width: 50%;
                padding: 0.2em;
            }
        }
    } // media 980px
    @media screen and (max-width: 850px) {
        .initializePage(@header_height_small;
        0rem);
        padding: 0;
        .intro {
            padding-top: 1rem;
            padding-bottom: 0;
            padding-left: 1rem * @scale;
            padding-right: 1rem * @scale;
        }
        .container {
            padding: 0;
        }
        .da-thumbs {
            position: static;
            height: 100%;
            li {
                width: 100%;
                height: 100%;
                padding: 0;
                margin-bottom: 1rem;
                img {
                    float: left;
                }
                .texto {
                    padding: 0rem 1rem 3rem 1rem;
                    display: block;
                    position: static;
                }
            }
        }
    } // media 850px
} // page-artwork
.page-exhibitions {
    .initializePage(@header_height;
    8rem);
    a.selected {
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
    }
    .intro {
        a {
            margin-right: 10px;
            &:hover {
                text-decoration: none;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #ddd;
            }
        }
    }
    .exhibition-item {
        width: 100%;
        clear: both;
        padding: 1rem;
        .image {
            width: 30%;
            float: left;
            a:hover {
                background-color: #fff;
            }
            img {
                max-width: 100%;
            }
        }
        .text {
            float: left;
            padding-left: 1rem;
            width: 70%;
            p.date {
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .initializePage(@header_height_small;
        1rem);
        // h2 {
        //     font-size: @body_font_size * @scale * @scale;
        // }
        .exhibition-item {
            .image {
                width: 100%;
            }
            .text {
                padding: 0;
                width: 100%;
            }
        }
    } // media 980px
} // page-exhibitions
.page-exhibitions-item {
    .initializePage(@header_height;
    8rem);
    img {
        margin-top: 2rem * @scale;
        text-align: center;
        max-width: 100%;
    }
    @media screen and (max-width: 1200px) {
        .initializePage(@header_height_small;
        1rem);
        .image {
            width: 100%;
            img {
                max-width: 100%;
            }
        }
        .text {
            width: 100%;
            padding: 0;
        }
    } // media 980px
} // page-exhibitions-item
.page-biography {
    .initializePage(@header_height;
    8rem);
    .image {
        margin-top: 2rem * @scale;
        text-align: center;
        img {
            max-width: 65%;
        }
    }
    @media screen and (max-width: 850px) {
        .initializePage(@header_height_small;
        1rem);
        .image {
            img {
                max-width: 100%;
            }
        }
    } // media 850px
} // page-biography
.page-bibliography {
    .initializePage(@header_height;
    8rem);
    // .image {
    //  margin-top: 2em * @scale;
    //     text-align: center;
    //     img {
    //         max-width: 65%;
    //     }
    // }
    @media screen and (max-width: 850px) {
        .initializePage(@header_height_small;
        1rem);
    } // media 850px
} // page-bibliography
.page-contacts {
    .initializePage(@header_height;
    8rem);
    h3 {
        margin-bottom: 1rem;
    }
    i {
        float: left;
        font-size: 1.5rem;
        padding-right: 2rem;
    }
    .phone {
        clear: both;
        img {
            width: 1rem * @scale;
            float: left;
            margin-right: 2rem * @scale;
        }
        p {
            margin-left: 0;
        }
    }
    .email {
        clear: both;
        img {
            width: 1rem * @scale;
            float: left;
            margin-right: 2rem * @scale;
        }
        a {
            margin-left: 0;
        }
    }
    .sendform {
        width: 100%;
        float: left;
        form {
            input,
            textarea {
                width: 90%;
                margin-bottom: 1rem;
            }
        }
        .col1 {
            padding: 1rem;
            width: 50%;
            float: left;
        }
        .col2 {
            padding: 1rem;
            width: 50%;
            float: left;
            img {
                width: 80%;
            }
        }
    }
    @media screen and (max-width: 850px) {
        .initializePage(@header_height_small;
        1rem);
        .phone {
            img {
                width: 1rem * @scale;
            }
            p {
                width: 100%;
                display: inline-block;
            }
        }
        .email {
            margin-top: 1rem * @scale * @scale;
            img {
                width: 1rem * @scale;
            }
            a {
                // font-size: @body_font_size / @scale;
                width: 100%;
                display: inline-block;
            }
        }
        .sendform {
            form {
                input,
                textarea {
                    width: 100%;
                }
            }
            .col1 {
                padding: 0;
                width: 100%;
            }
            .col2 {
                padding: 0;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    } // media 850px
} // page-contacts
.page-default {
    .initializePage(@header_height;
    8rem);
    @media screen and (max-width: 1200px) {
        .initializePage(@header_height_small;
        1rem);
    }
} // page-default
.footer {
    width: 100%;
    height: 200px;
    font-size: 1rem;
    clear: both;
    // border-top: 1px solid lighten(@primary_color, 90%);
    text-align: center;
    padding: 2.2rem * @scale;
    padding-top: 5rem;
    a {
        color: @primary_color;
    }
    @media screen and (max-width: 850px) {
        font-size: 1rem;
        padding: 1rem * @scale;
    } // media 850px
}
