/***********************************************************
 * sets borders for the main TD cells
 ***********************************************************/
.clearfix {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

/***********************************************************
 * adds necessary stuff for each page
 ***********************************************************/
.initializePage(@isMobile) when (@isMobile = false){
    margin-top: @header_height;
    clear: both;
    padding-top: 1rem * @scale;
    padding-bottom: 1rem * @scale;
    padding-left: 8rem * @scale;
    padding-right: 8rem * @scale;
}

.initializePage(@isMobile) when (@isMobile = true){
    margin-top: @header_height;
    clear: both;
    padding-top: 1rem * @scale;
    padding-bottom: 1rem * @scale;
    padding-left: 1rem * @scale;
    padding-right: 1rem * @scale;
}


