{% extends 'partials/base.html.twig' %}
{% block content %}	
	<div class="page-biography">	 
		<h2>{{ page.header.title }}</h2>   
		{{ page.content }}
		<div class="image">
			{{ page.media.images|first }}
		</div>
	</div>
{% endblock %}