{% extends 'partials/base.html.twig' %}

{% block content %}
	{% set var = uri.query('ano') %}

	{% if not var %}
		{% set var = "ALL" %}
	{% endif %}

	{% for imagem in page.media.images %}	    
	    {% if imagem.ano == var or var == "ALL"%}
 			<div>
				<img src="{{ imagem.url }}">
				<p>{{ imagem.ano }}</p>
				<p>{{ imagem.descricao }}</p>
			</div>
	    {% endif %}
	{% endfor %}
	{{ page.content }}
{% endblock %}