{% extends 'partials/base.html.twig' %}

{% block content %}	
	<div class="page-exhibitions-item">
		<h2>{{ page.title }}</h2>
		<div class="image">
			{{ page.media.images|first }}
		</div>
		{{ page.content }}
	</div>
{% endblock %}