{% extends 'partials/base.html.twig' %}

{% block content %}	
	<div class="page-exhibitions-item">
		<h2>{{ page.title }}</h2>
		<p class="date">{{ page.date|date("d/M/Y") }}</p>
		<div class="image">
			{{ page.media.images|first }}
		</div>
		{{ page.content }}
	</div>
{% endblock %}