<hr>
<div class="footer-modules">
    <div class="footer-copyright">
        {{ site.author.copyright }} - <a target="_blank" href="{{ site.author.url }} ">{{ site.author.url_name }} </a>
    </div>
</div>
</div>